
.ui.inverted.segment.navbefore {
  background-color: #14213D;
  border-radius: 0em;
  height: 100px
}

.ui.secondary.inverted.menu .active.item.navbeforelink {
  color:#FCA311  !important;
}

.ui.secondary.inverted.menu a.item.navbeforelink {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
}

/* the actual menu outline for the underline */
.ui.secondary.inverted.pointing.menu {
  position:relative; top: 7px; left: 20px;
}

.ui.inverted.segment.navafter {
  background-color: #14213D;
  border-radius: 0em;
  height: 100px
}

.ui.secondary.inverted.menu .active.item.navafterlink {
  color:#FCA311  !important;
}

.ui.secondary.inverted.menu a.item.navafterlink {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
}

#logout {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
  position:relative; left: 1050px;
}

/* ---- Nav above here ---- */

.ui.button.login {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 211px;
  padding-bottom: 25px;
  padding-left: 211px;
  margin-top: 24px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

#logingrid {
  padding-top: 150px;
}

.ui.form input:not([type=date]).signinupinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
}

.ui.form input:not([type=date]).signinupinput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

.ui.form .field>label.loginlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#aboutlogo {
  font-size: 6em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 1em;
  color:#EDAC43;
  position:relative; top: -35px;
  font-family: Windsor Pro Bold;
}

#aboutslogan {
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  color:#EDAC43;
  font-family: Windsor Pro Regular;
  position:relative; top: -35px;
}

#aboutbg {
  text-align:'center';
  background-color: #14213D;
  margin-top: -19px;
  padding-bottom: 75px;
  border-radius: 0em;
}

.ui.yellow.basic.button.aboutsignupin {
    background: transparent none!important;
    color:#EDAC43 !important;
    font-weight: 300;
    font-size: 20px;
    font-family: 'danzza-medium-webfont';
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    padding: 23px 48px 23px 48px;
    margin: 35px 30px 0 30px;
    box-shadow: 0 0 0 1px #EDAC43 inset;
    position:relative; top: -30px;
}

#aboutexplainer {
  border-radius: 0em;
  border: 0em;
  margin-top: -14px;
  text-align: center;
  font-family: danzza-medium-webfont;
  color: #14213D
}

#explainerheader {
  font-family: danzza-medium-webfont;
  padding-top: 40px;
  color: #14213D
}

#explainersubheader {
  font-family: danzza-medium-webfont;
  padding-bottom: 35px;
  color: #14213D
}

.ui.header.triadlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  text-shadow: 1px -1px #EDAC43;
}

.ui.list.triadlist {
  font-family: danzza-medium-webfont;
  color: #14213D;
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
}

.ui.list>.item.triadlistitem {
  padding-bottom: 15px;
}

#landingspacingdiv {
  padding-bottom: 30px;
}

#loginheader {
  font-family: Windsor Pro Bold;
  font-size: 75px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginsubheader {
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginmessage {
  font-family: danzza-medium-webfont;
  font-size: 18px;
  padding-top: 22px;
}

/* left column on login page */
.ui.grid>[class*="center aligned"].column.column {
  position:relative; left:-90px; top: 30px;
}

/* right column on login page */
#loginrightcolumn {
  position:relative; left:90px
}

#signupheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#signupsubheader {
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#signupmessage {
  font-family: danzza-medium-webfont;
  font-size: 18px;
  padding-top: 22px;
}

#signupleftcolumn {
  position:relative; left:-90px
}

#signuprightcolumn {
  position:relative; left:90px; top: -45px;
}

.ui.form .field>label.signuplabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#signupbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 205px;
  padding-bottom: 25px;
  padding-left: 205px;
  margin-top: 24px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

/* homepage styling below */
#homemainheader{
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
}

#homesubheader {
  font-family: Windsor Pro Regular;
  text-align: center;
  font-size: 30px;
  position:relative; top: 35px;
}

#homeinstructionheader{
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 40px;
  padding-top: 55px;
  position:relative; left:275px; top: 15px;
}

/* numbered instrucitons before you added grid */
/* .numberedinstructions {
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 27px;
  padding-top: 20px;
  align-content: center;
  position:relative; left:90px; top: 15px;
  width: 1500px;
} */

#homecolumn1 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homecolumn2 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homecolumn3 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homebutton1 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homebutton2 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homebutton3 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homegrid {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative; top: 40px;
}

/* executor page */
#execheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
}

#execinstructions {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  width: 1100px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

#createexecbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  display: flex;  
  margin: auto;
}

#execspacerdiv {
  padding-top: 28px;
  padding-bottom: 28px;
}

#exectable {
  width: 1200px;
  margin: auto;
  border-color:#14213D;
  /* border: 2px #14213D; */
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}


/* tableheader */
.ui.table thead th.exectableheader {
  background: #14213D;
  font-family: danzza-medium-webfont;
  color: #FCA311;
  font-size: 18px;
  text-align: center;
  border-radius: 0em;
}

#exectoprow {
  height: 80px;
}

/* this is just trying to get rid of border radius */
.ui.table thead th.tableheadercorner{
  border-radius: 0em;
}

.ui.table tr.execdatarow {
  height: 80px;
  text-align: center;
}

button.ui.button.execformbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

td.exectabledata {
  font-family: Windsor Pro Regular;
  font-size: 22px;
}

p.delvalidation {
  font-family: danzza-medium-webfont;
}


/* exec form below here */
h1.ui.header.execformheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#execbackbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 18px;
  padding-left: 40px;
  font-family: danzza-medium-webfont;
  font-size: 18px;
  display: flex;  
  margin-left: 750px;
}


/* 
NOTE: I don't think this is styling anything at the moment */
#addsaveexecbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

#execformdivspacer{
  padding-top: 20px;
  padding-bottom: 20px; 
}

/* .ui.form input:not([type=date]).signinupinput:focus */

.ui.form input:not([type=date]).execforminput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 29px;
}


.ui.form input:not([type=date]).execforminput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

/* 
Already added to letter version */
#addeditexecutorbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 182px;
  padding-bottom: 25px;
  padding-left: 182px;
  margin-top: 22px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

/* ====================================================================================================================== */


.ui.form .field>label.execformlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#execformdiv {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* ========================================================================================================= */


/* letter page stuff here */

#lettermainheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;

}

#letterinstructions {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  width: 1100px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

#createletterbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  display: flex;  
  margin: auto;
}

#lettertabledivspacer {
  padding-bottom: 19px
}

#lettertabledivspacerbottom {
  padding-bottom: 100px

}

#lettertable {
  width: 1500px;
  margin: auto;
  border-color:#14213D;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* tableheader */
.ui.table thead th.lettertableheader {
  background: #14213D;
  font-family: danzza-medium-webfont;
  color: #FCA311;
  font-size: 18px;
  text-align: center;
}

#lettertoprow {
  height: 80px;
}

/* this is just trying to get rid of border radius */
#lettertabletopheader{
  border-radius: 0em;
}

.ui.table tr.letterdatarow {
  height: 80px;
  text-align: center;
}

button.ui.button.letterformbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

td.lettertabledata {
  font-family: Windsor Pro Regular;
  font-size: 19px;
}

/* letter form below here */
.ui.header.letterformheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#letterbackbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 18px;
  padding-left: 40px;
  font-family: danzza-medium-webfont;
  font-size: 18px;
  display: flex;  
  margin-left: 750px;
}

#addeditletterbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 182px;
  padding-bottom: 25px;
  padding-left: 182px;
  margin-top: 22px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

#letterformdivspacer{
  padding-top: 20px;
  padding-bottom: 20px; 
}

/* this find the input */
.ui.form input:not([type=date]).letterformtriadinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 450px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 29px;
}

/* the thing that makes it glow */
.ui.form input:not([type=date]).letterformtriadinput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 450px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

#triadgroup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ui.form .field>label.letterformlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#radioheader {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

div.radiotitle {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
  font-size: 60px;
}

p.radioprompt {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 18px;
}

#radiobuttoncenter {
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}

#promptcenterer {
  text-align: center;
  padding-bottom: 15px;
}

#lettertextinput {
  width: 1450px;
  height: 200px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 10px;
}

#lettertextinputcenter {
  margin: 0 auto;
  align-content: center;
}

/* font stuff below */

@font-face {
  font-family: 'Windsor Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Bold'), url('./fonts/WindsorProBold.woff') format('woff');
  }

@font-face {
  font-family: 'Windsor Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Regular'), url('./fonts/WindsorProRg.woff') format('woff');
  }
  
@font-face {
font-family: 'Windsor Pro Elongated';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Elongated'), url('./fonts/WindsorProElongated.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Extra Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Extra Bold Condensed'), url('./fonts/WindsorProXBoldCn.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Ultra Heavy';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Ultra Heavy'), url('./fonts/WindsorProUltHv.woff') format('woff');
}

@font-face {
  font-family: 'danzza-medium-webfont';
  font-style: normal;
  font-weight: normal;
  src: local('danzza-medium-webfont'), url('./fonts/danzza-medium-webfont.ttf') format('woff');
  }






/* 
Initial account css - leeping just inc ase

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
