/* ---- Navbar Start ---- */

.ui.inverted.segment.navbefore {
  background-color: #14213D;
  border-radius: 0em;
  height: 100px
}

.ui.secondary.inverted.menu .active.item.navbeforelink {
  color:#FCA311  !important;
}

.ui.secondary.inverted.menu a.item.navbeforelink {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
}

/* the actual menu outline for the underline */
.ui.secondary.inverted.pointing.menu {
  position:relative; top: 7px; left: 20px;
}

.ui.inverted.segment.navafter {
  background-color: #14213D;
  border-radius: 0em;
  height: 100px
}

.ui.secondary.inverted.menu .active.item.navafterlink {
  color:#FCA311  !important;
}

.ui.secondary.inverted.menu a.item.navafterlink {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
}

#logout {
  color:#FCA311 !important;
  font-family: danzza-medium-webfont;
  font-size: 17px;
  position:relative; left: 1050px;
}

/* ---- Navbar End ---- */


/* Landing page start - (pre log in page you start on) */

.ui.button.login {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 211px;
  padding-bottom: 25px;
  padding-left: 211px;
  margin-top: 24px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

#logingrid {
  padding-top: 150px;
}

.ui.form input:not([type=date]).signinupinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
}

.ui.form input:not([type=date]).signinupinput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

.ui.form .field>label.loginlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#landinglogo {
  font-size: 6em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 1em;
  color:#EDAC43;
  position:relative; top: -35px;
  font-family: Windsor Pro Bold;
}

#landingslogan {
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  color:#EDAC43;
  font-family: Windsor Pro Regular;
  position:relative; top: -35px;
}

#landingbg {
  text-align:'center';
  background-color: #14213D;
  margin-top: -19px;
  padding-bottom: 75px;
  border-radius: 0em;
}

.ui.yellow.basic.button.landingsignupin {
    background: transparent none!important;
    color:#EDAC43 !important;
    font-weight: 300;
    font-size: 20px;
    font-family: 'danzza-medium-webfont';
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    padding: 23px 48px 23px 48px;
    margin: 35px 30px 0 30px;
    box-shadow: 0 0 0 1px #EDAC43 inset;
    position:relative; top: -30px;
}

#landingexplainer {
  border-radius: 0em;
  border: 0em;
  margin-top: -14px;
  text-align: center;
  font-family: danzza-medium-webfont;
  color: #14213D
}

#explainerheader {
  font-family: danzza-medium-webfont;
  padding-top: 40px;
  color: #14213D
}

#explainersubheader {
  font-family: danzza-medium-webfont;
  padding-bottom: 35px;
  color: #14213D
}

.ui.header.triadlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  text-shadow: 1px -1px #EDAC43;
}

.ui.list.triadlist {
  font-family: danzza-medium-webfont;
  color: #14213D;
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
}

.ui.list>.item.triadlistitem {
  padding-bottom: 15px;
}

#landingspacingdiv {
  padding-bottom: 36px;
}

/* Landing page end */


/* About page start */

#aboutheader {
  font-family: Windsor Pro Bold;
  text-align: center;
  font-size: 70px;
  color: #14213D;
  margin-top: 40px;
  margin-bottom: 30px;
  text-shadow: 3px -1px #EDAC43;
}

#aboutbigline {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Windsor Pro Bold;
  font-size: 28px;
  
}

#aboutsubheader {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 21px;
  width: 900px;
  margin: auto;
}

#aboutexplainer {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 21px;
  width: 900px;
  margin: auto;
  
}

div #aboutlinheight1 {
  line-height: 2;
}

div #aboutlinheight2 {
  line-height: 2;
}

div #aboutlinheight4 {
  font-size: 19px;
  width: 800px;
  position:relative; left:75px;
  margin-top: 40px;
  margin-bottom: 40px;
}

div #aboutlinheight5 {
  line-height: 2;
}

/* About page end */


/* Log in page start */

#loginheader {
  font-family: Windsor Pro Bold;
  font-size: 75px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginsubheader {
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginmessage {
  font-family: danzza-medium-webfont;
  font-size: 18px;
  padding-top: 22px;
}

/* left column on login page */
.ui.grid>[class*="center aligned"].column.column {
  position:relative; left:-90px; top: 30px;
}

/* right column on login page */
#loginrightcolumn {
  position:relative; left:90px
}

#signupheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#signupsubheader {
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#signupmessage {
  font-family: danzza-medium-webfont;
  font-size: 18px;
  padding-top: 22px;
}

#signupleftcolumn {
  position:relative; left:-90px
}

#signuprightcolumn {
  position:relative; left:90px; top: -45px;
}

.ui.form .field>label.signuplabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#signupbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 205px;
  padding-bottom: 25px;
  padding-left: 205px;
  margin-top: 24px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

/* Log in pag end */


/* Homepage start - where you land post sign in or sign up */

#homemainheader{
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
}

#homesubheader {
  font-family: Windsor Pro Regular;
  text-align: center;
  font-size: 30px;
  position:relative; top: 35px;
}

#homeinstructionheader{
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 40px;
  padding-top: 55px;
  padding-right: 950px;
  text-align: center;
  /* position:relative; left:275px; top: 15px; */
}

#homecolumn1 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homecolumn2 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homecolumn3 {
  width: 1000px;
  color: #14213D;
  text-align: left;
  font-family: danzza-medium-webfont;
  font-size: 25px;
}

#homebutton1 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homebutton2 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homebutton3 {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  width: 240px;
}

#homegrid {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative; top: 40px;
}

/* homepage end */

/* Executor container page start */

#execheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
}

#execinstructions {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  width: 1100px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

#createexecbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  display: flex;  
  margin: auto;
}

#execspacerdiv {
  padding-top: 28px;
  padding-bottom: 28px;
}

#exectable {
  width: 1200px;
  margin: auto;
  border-color:#14213D;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* tableheader */
.ui.table thead th.exectableheader {
  background: #14213D;
  font-family: danzza-medium-webfont;
  color: #FCA311;
  font-size: 18px;
  text-align: center;
  border-radius: 0em;
}

#exectoprow {
  height: 80px;
}

/* trying to get rid of border radius */
.ui.table thead th.tableheadercorner{
  border-radius: 0em;
}

.ui.table tr.execdatarow {
  height: 80px;
  text-align: center;
}

button.ui.button.execformbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

td.exectabledata {
  font-family: Windsor Pro Regular;
  font-size: 22px;
}

p.delvalidation {
  font-family: danzza-medium-webfont;
}

/* Executor container page end */


/* Executor form start */

h1.ui.header.execformheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#execbackbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 18px;
  padding-left: 40px;
  font-family: danzza-medium-webfont;
  font-size: 18px;
  display: flex;  
  margin-left: 750px;
}

#execformdivspacer{
  padding-top: 20px;
  padding-bottom: 20px; 
}

.ui.form input:not([type=date]).execforminput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 29px;
}

.ui.form input:not([type=date]).execforminput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

#addeditexecutorbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 182px;
  padding-bottom: 25px;
  padding-left: 182px;
  margin-top: 22px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

.ui.form .field>label.execformlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#execformdiv {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Executor form end */


/* Letter container page start */

#lettermainheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

#letterinstructions {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  width: 1100px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

#createletterbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  display: flex;  
  margin: auto;
}

#lettertabledivspacer {
  padding-bottom: 19px
}

#lettertabledivspacerbottom {
  padding-bottom: 100px
}

#lettertable {
  width: 1500px;
  margin: auto;
  border-color:#14213D;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* tableheader */
.ui.table thead th.lettertableheader {
  background: #14213D;
  font-family: danzza-medium-webfont;
  color: #FCA311;
  font-size: 18px;
  text-align: center;
}

#lettertoprow {
  height: 80px;
}

.ui.table tr.letterdatarow {
  height: 80px;
  text-align: center;
}

button.ui.button.letterformbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

td.lettertabledata {
  font-family: Windsor Pro Regular;
  font-size: 19px;
}

/* Letter container page end */

/* Letter form start */

.ui.header.letterformheader {
  font-family: Windsor Pro Bold;
  font-size: 69px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#letterbackbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 18px;
  padding-left: 40px;
  font-family: danzza-medium-webfont;
  font-size: 18px;
  display: flex;  
  margin-left: 750px;
}

#addeditletterbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 35px;
  padding-right: 182px;
  padding-bottom: 35px;
  padding-left: 182px;
  margin-top: 22px;
  margin-bottom: 100px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#letterformdivspacer{
  padding-top: 20px;
  padding-bottom: 20px; 
}

#letterformbottondivspacer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* this finds the input */
.ui.form input:not([type=date]).letterformtriadinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 450px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 29px;
}

/* makes it glow */
.ui.form input:not([type=date]).letterformtriadinput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 450px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

#triadgroup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ui.form .field>label.letterformlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#radioheader {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

div.radiotitle {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
  font-size: 60px;
}

p.radioprompt {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 18px;
}

#radiobuttoncenter {
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}

#promptcenterer {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

#lettertextinput {
  width: 1380px;
  height: 200px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#lettertextinputlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
  position: relative; left: 221px;
}

.ui.form .fields .letterformdoublegroup {
  padding-top: 1000px;
}

div.fields.letterformdoublegroup{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* this finds the input */
.ui.form textarea:not([type=date]).letterformdoubleinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 685px;
  height: 90px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  margin-bottom: 29px;
}

/* makes it glow */
.ui.form textarea:not([type=date]).letterformdoubleinput:focus {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 685px;
  height: 90px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}


#backtolettercontainter {
  display: flex;  
  margin: auto;
}

/* Letter form end */

/* Profile page start */

#accountinfoheader {
  font-family: Windsor Pro Bold;
  font-size: 50px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 55px;
}

#accountletterinfoheader {
  font-family: Windsor Pro Bold;
  font-size: 50px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  text-align: center;
  padding-top: 55px;
}

h3.accountgeneraltext {
  font-family: danzza-medium-webfont;
  font-size: 20px;
  margin-bottom: 29px;
}

div.accounttextcenterer {
  position: relative; left: 50px;
}

#editprofileinfobutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  display: flex;  
}

#canceleditprofilebutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: Windsor Pro Regular;
  font-size: 17px;
  margin-left: 0px; 
}

#savechangesprofilebutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Windsor Pro Regular;
  font-size: 17px;
  margin-left: 50px; 
}

#finalizecontainer {
  text-align: center;
  margin-top: 50px;
}

/* this finds the input */
.ui.form input:not([type=date]).userforminput {
  width: 300px;
  height: 40px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
}

/* makes it glow */
.ui.form input:not([type=date]).userforminput:focus {
  width: 300px;
  height: 40px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  border: 1px solid #14213D;
  box-shadow: 0 0 2px #FCA311;
}

.ui.form .field>label.userlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
}

#edituserform {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#finalizeheader{
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  padding-top: 10px;
}

.ui.toggle.checkbox.finalizetoggle {
  transform: scale(2.1);
}
#toggleheader {
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  margin-bottom: 30px;
}

#letterstatusheader{
  color: #14213D;
  font-family: danzza-medium-webfont;
  font-size: 30px;
  margin-bottom: 30px;
}

.ui.button.profilesendbutton{
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 45px;
  padding-bottom: 25px;
  padding-left: 45px;
  font-family: Windsor Pro Regular;
  font-size: 30px;
  margin-top: 10px; 
}

#profilewarning {
  font-family: Windsor Pro Bold;
  margin-bottom: 70px;
  color: #B7355A;
}

/* Profile page end */

/* Success page start (comes up after letters finalized) */

#successheader {
  font-family: Windsor Pro Bold;
  font-size: 60px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

#successimage {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 5px solid #14213D;
}

.ui.header.successinstructions {
  text-align: center;
  font-family: danzza-medium-webfont;
  font-size: 25px; 
}

#successbutton {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 70px;
  padding-bottom: 25px;
  padding-left: 70px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#successpagedivspacer {
  padding-top: 20px;
}

/* Success page end */

/* Easter egg formatting start */

h2.nothingcreatedyet {
  text-align: center;
  font-family: danzza-medium-webfont;
  font-size: 25px;
  margin-bottom: 45px; 
}

img.nothingcreatedyetimage{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 5px solid #14213D;
  box-shadow: 0 0 0 2px #EDAC43;
}

/* Easter egg formatting end */


/* fonts  */

@font-face {
  font-family: 'Windsor Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Bold'), url('./fonts/WindsorProBold.woff') format('woff');
  }

@font-face {
  font-family: 'Windsor Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Regular'), url('./fonts/WindsorProRg.woff') format('woff');
  }
  
@font-face {
font-family: 'Windsor Pro Elongated';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Elongated'), url('./fonts/WindsorProElongated.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Extra Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Extra Bold Condensed'), url('./fonts/WindsorProXBoldCn.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Ultra Heavy';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Ultra Heavy'), url('./fonts/WindsorProUltHv.woff') format('woff');
}

@font-face {
  font-family: 'danzza-medium-webfont';
  font-style: normal;
  font-weight: normal;
  src: local('danzza-medium-webfont'), url('./fonts/danzza-medium-webfont.ttf') format('woff');
  }