
.ui.inverted.segment.nav {
  background-color: #14213D;
}

.ui.button.login {
  color: #FCA311;
  background: #14213D;
  padding-top: 25px;
  padding-right: 211px;
  padding-bottom: 25px;
  padding-left: 211px;
  margin-top: 24px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

.ui.button.signup {
  color: #FCA311;
  background: #14213D;
  padding-top: 20px;
  padding-right: 221px;
  padding-bottom: 20px;
  padding-left: 221px;
  margin-top: 25px;
}

#logingrid {
  padding-top: 150px;
}

.ui.form input:not([type=date]).signinupinput {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 475px;
  font-family: Windsor Pro Regular;
  font-size: 20px;
}

.ui.form .field>label.loginlabel {
  color: #14213D;
  font-family: danzza-medium-webfont;
  padding-top: 10px;
}

#aboutlogo {
  font-size: 6em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 1em;
  color:#EDAC43;
  font-family: Windsor Pro Bold;
}

#aboutslogan {
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  color:#EDAC43;
  font-family: Windsor Pro Regular;
}

#aboutbg {
  text-align:'center';
  background-color: #14213D;
  margin-top: -19px;
  padding-bottom: 160px;
  border-radius: 0em;
}

.ui.yellow.basic.button.aboutsignupin {
    background: transparent none!important;
    color:#EDAC43 !important;
    font-weight: 300;
    font-size: 20px;
    font-family: 'danzza-medium-webfont';
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    padding: 23px 48px 23px 48px;
    margin: 35px 30px 0 30px;
    box-shadow: 0 0 0 1px #EDAC43 inset;
}

#aboutexplainer {
  border-radius: 0em;
  border: 0em;
  margin-top: -14px;
  text-align: center;
  font-family: danzza-medium-webfont;;
}

#explainerheader {
  font-family: danzza-medium-webfont;
  padding-top: 40px;
}

#explainersubheader {
  font-family: danzza-medium-webfont;
  padding-bottom: 35px;
}

#loginheader {
  font-family: Windsor Pro Bold;
  font-size: 75px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginsubheader {
  font-family: Windsor Pro Bold;
  font-size: 65px;
  color: #14213D;
  text-shadow: 3px -1px #EDAC43;
}

#loginmessage {
  font-family: danzza-medium-webfont;
  font-size: 18px;
  padding-top: 22px;
}

/* left column on login page */
.ui.grid>[class*="center aligned"].column.column {
  position:relative; left:-90px
}

/* right column on login page */
#loginrightcolumn {
  position:relative; left:90px

}

@font-face {
  font-family: 'Windsor Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Bold'), url('./fonts/WindsorProBold.woff') format('woff');
  }

@font-face {
  font-family: 'Windsor Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Regular'), url('./fonts/WindsorProRg.woff') format('woff');
  }
  
@font-face {
font-family: 'Windsor Pro Elongated';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Elongated'), url('./fonts/WindsorProElongated.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Extra Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Extra Bold Condensed'), url('./fonts/WindsorProXBoldCn.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Ultra Heavy';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Ultra Heavy'), url('./fonts/WindsorProUltHv.woff') format('woff');
}

@font-face {
  font-family: 'danzza-medium-webfont';
  font-style: normal;
  font-weight: normal;
  src: local('danzza-medium-webfont'), url('./fonts/danzza-medium-webfont.ttf') format('woff');
  }






/* 
Initial account css - leeping just inc ase

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
